.sectionTitle {
  font-size: 2.5rem;
}

.sectionTitle {
  font-size: 2.5rem;
}

.buttonPrimary {
  background-color: #62CCC5;
  color: white;
}

.buttonPrimary:hover {
  cursor: pointer;
}

.buttonSecondary {
  background-color: #F0F0F0;
  color: #3D3D3D;
}

.buttonSuccess {
  background-color: #5CBCB6;
  color: white;
}

.buttonSuccess * {
  text-align: center;
}

.heroContainer {
  position: relative;
  margin: auto;
  width: 100%;
  display: block;
  margin-top: 0 !important;
}

.heroImageContainer {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 500px;
}

@media (min-width: 1024px) {
  .heroImageContainer {
    height: 780px;
  }
}

.heroImage {
  opacity: 0.2;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

@media (min-width: 1024px) {
  .heroTextContainer {
    height: 780px;
  }
}

.heroTextContainer * {
  z-index: 2;
}

.headline {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .headline {
    font-size: 4rem;
  }
}

.btnContainer {
  display: flex;
}

.btnContainer > a {
  margin: 0 1rem;
}
