.card {
  border: 1px solid black;
}

.cardImageContainer {
  width: 100%;
  min-height: 50%;
  position: relative;
  display: block;
}

.cardImage {
  opacity: 1;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}
