.sectionTitle {
  font-size: 2.5rem;
}

.socialMediaContainer {
  display: flex;
}

.socialMediaContainer > * {
  margin-left: 1rem;
}

.linkedin {
  color: #0A66C2;
}

.facebook {
  color: #0D8AF0;
}
