$dark-color: #777;
$light-color: #F0F0F0;
$text-color: #333333;
$danger-color: #BE2B36;
$success-color: #178017;
$highlight-color: #ADFF2F;
$cool-color: #257FD7;
$link-color: #337ab7;
$header-color: #C3D9FF;
$greyed-text: #333333;
$white-color: #fff;
$btn-hover-color: #99CCFF;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;