$primary-color: #62CCC5;
$secondary-color: #F0F0F0;
$success-color: #5CBCB6;
$text-color: #3D3D3D;

$primary-color-dark: darken($primary-color, 15%);
$secondary-color-dark: darken($secondary-color, 10%);
$success-color-dark: darken($success-color, 10%);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// Typography
.sectionTitle {
  font-size: 2.5rem;
}